.carousel-item-active{
    height: fit-content;
    width: fit-content;
}

body {

    background-image:url("img/emblem.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
}

.TITLE {
    font-size: 200%;
    text-align: center;
}

img{
    text-align: center;
    height: 500px;
    width: 700px;
}
p {
    font-size: x-large;
    font-weight: bold;
    font-family: monospace;
}
.p1{
    font-family: monospace;
}
.navbar-default .navbar-brand{
    color: #FF0000;
}

.rulespark {
    text-align: center;
}

.BT {
    font-size: 120%;
}

.funf {
    text-align: center;
}

.vid1 {
    position: absolute;
    top: 100%;
    left: 50%;
}
.wall{
    margin:20px;
    padding:10px;
}


.ruleb {
    position: absolute;
    z-index: 2; 
    width: 50%;
    left: 8%;
    top: 47%;
    height: 7em;
    opacity: 0.9;
}

.d-block w-100 {
    height: 20%;
    width: 234%;
}

.image1 {
    height: 20%;
    width: 30%;
}

.funfacts {
    position: absolute;
    z-index: 2; 
    width: 25%;
    left: 71%;
    top: 47%;
    height: 7em;
    opacity: 0.9;
}

.BoB {
    text-align: center;
    font-size: 200%;
}

.HTPB {
    position: absolute;
    z-index: 2; 
    width: 48%;
    left: 8%;
    top: 30px;
    height: 7em;
    opacity: 0.9;
}

.t1 {
    position: absolute;
    z-index: 2; 
    width:80%;
    left: 10%;
    top: 170%;
    height: 1000%;
    opacity: 0.9;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 40px 40px 4px;
}

.p2 {
    font-size:medium;
    color: black;
    font-size: 50%;
}

.npl {
    font-size: 110%;
}

.resp-container {
    position: absolute;
    top: 10%;
    left: 63%;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(151, 2, 2);
    
}

.logo {
    color: rgba(255, 255, 255, 0.781);
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 19px;
}

.nav-links {
    display: flex;
    width: 500px;
    justify-content: space-around;
}   

.nav-links li {
    list-style: none;
}

.nav-links a{
    color: rgba(240, 235, 235, 0.781);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.781);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:0px) {
    .nav-links {
       width: 60%;
    }   
}

@media screen and (max-width:3000px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(59, 50, 50);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}




.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}













  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: rgb(0, 0, 0);
  }

  .carousel-inner .image1 {
      width: 40%   ;
  }

  
 

    .btn-one {
        color: #FFF;
        transition: all 0.3s;
        position: relative;
      }
      .btn-one span {
        transition: all 0.3s;
      }
      .btn-one::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: rgba(255,255,255,0.5);
        border-bottom-color: rgba(255,255,255,0.5);
        transform: scale(0.1, 1);
      }
      .btn-one:hover span {
        letter-spacing: 2px;
      }
      .btn-one:hover::before {
        opacity: 1; 
        transform: scale(1, 1); 
      }
      .btn-one::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
      }
      .btn-one:hover::after {
        opacity: 0; 
        transform: scale(0.1, 1);
      }
      
=========================

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.board3 {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}

.board2 {
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #fff;
}

section {
    padding: 10rem 0;
   
}

.card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card {
    width: 32rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .5rem .3rem rgba(0,0,0,.2);
}

.card .card-img {
    width: 100%;
    height: 26rem;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
}

.profile-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -10rem;
    z-index: 999;
    border: 1rem solid #ebeef8;
}

.card h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;
}

.job-title {
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
}

.about  {
    font-size: 1.2rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color:#333;
}

.card .btn {
    padding: 1rem 2.5rem;
    background-color: #445;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
    transition: all .5s;
}

.card .btn:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0,0,0,.2);
}

.card .btn:active {
    transform: translateY(0);
    box-shadow: none;
}

.social-media {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0,0,0,.1);
}

.social-media {
    font-size: 3rem;
    transition: color .5s;
}

.fa-facebook-square {
    color: #3b5999;
}

.fa-twitter-square {
    color:#55acee;
}

.fa-instagram {
    color:#dd4b39; 
}

.fa-google-plus-square {
    color:#dd4b39;
}

.fa-facebook-square:hover
.fa-twitter-square:hover
.fa-instgram:hover
.fa-google-plus-square:hover{
    color: #45e19f;
}

@media screen and (min-width: 200px){
    .card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .card{
        margin: 2rem;
        transition: transform .5s;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
        .card:nth-child(1){
            animation:fadeIn .5s .5s backwards;
        }
        .card:nth-child(2){
            animation:fadeIn .5s 1s backwards;
        }
        .card:nth-child(3){
            animation:fadeIn .5s 1.5s backwards;
        }
        .card:nth-child(4){
            animation:fadeIn .5s 2s backwards;
        }
        .card:nth-child(5){
            animation:fadeIn .5s 2.5s backwards;
        }
        .card:nth-child(6){
            animation:fadeIn .5s 3s backwards;
        }
        .card:nth-child(7){
            animation:fadeIn .5s 3.5s backwards;
        }
        .card:nth-child(8){
            animation:fadeIn .5s 4s backwards;
        }
        .card:nth-child(9){
            animation:fadeIn .5s 4.5s backwards;
        }
        .card:nth-child(10){
            animation:fadeIn .5s 5s backwards;
        }
        .card:nth-child(11){
            animation:fadeIn .5s 5.5s backwards;
        }
        .card:nth-child(12){
            animation:fadeIn .5s 6s backwards;
        }
        .card:nth-child(13){
            animation:fadeIn .5s 6.5s backwards;
        }
    
        .card:hover {
            transform: scale(1.05);
        }
}