h1 {
    color:aqua;
}

body {
    background-color:black;
}


.carousel-item{
    src: "https://static01.nyt.com/images/2020/08/24/sports/24mlb-kepner-1/merlin_176084667_69b1099b-0b7e-41ce-bfdf-e407899f10dc-mobileMasterAt3x.jpg";
}











