h1 {
    color:rgb(231, 247, 247);
}
h3{
    color: rgb(231, 247, 247);
}
.carousel-item-active{
    height: fit-content;
    width: fit-content;
}

body {
    background-color:rgb(87, 67, 67);
}

img{
    text-align: center;
    height: 500px;
    width: 700px;
}
p {
    color:rgb(231, 247, 247);
    font-size: x-large;
    font-weight: bold;
    font-family: monospace;
}
.p1{
    font-family: monospace;
}






