h1 {
    
}
h2 {
    
}
h3{
 
}
.carousel-item-active{
    height: fit-content;
    width: fit-content;
}

body {
    background-image:url("img/emblem.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

img{
    text-align: center;
    height: 500px;
    width: 700px;
}
p {
    font-size: x-large;
    font-weight: bold;
    font-family: monospace;
}
.p1{
    font-family: monospace;
}
.navbar-default .navbar-brand{
    color: #FF0000;
}

.rulespark {
    text-align: center;
}



.funf {
    text-align: center;
}


li 
    font-family: monospace;
    font-size:x-large;
    font-weight: bold;
   
}

.vid1 {
    position: absolute;
    top: 100%;
    left: 50%;
}
.wall{
    margin:20px;
    padding:10px;
}


.ruleb {
    position: absolute;
    z-index: 2; 
    width: 50%;
    left: 13%;
    top: 410px;
    height: 7em;
    opacity: 0.9;
}

.d-block w-100 {
    height: 20%;
    width: 234%;
}

.image1 {
    height: 20%;
    width: 30%;
}

.funfacts {
    position: absolute;
    z-index: 2; 
    width: 20%;
    left: 71%;
    top: 420px;
    height: 7em;
    opacity: 0.9;
}

.BoB {
    text-align: center;
    font-size: 200%;
}

.HTPB {
    position: absolute;
    z-index: 2; 
    width: 48%;
    left: 13%;
    top: 70px;
    height: 7em;
    opacity: 0.9;
}

.t1 {
    position: absolute;
    z-index: 2; 
    width: 75%;
    left: 12%;
    top: 125px;
    height: 87%;
    opacity: 0.9;
    background-color: rgb(255, 255, 255);
}

.p2 {
    font-size:medium;
    color: black;
    
}

.npl {
    font-size: 150%;
}

.TITLE {
    text-align: center;
}

.resp-container {
    position: absolute;
    top: 10%;
    left: 63%;
}