h1 {
    color:rgb(231, 247, 247);
}
.carousel-item-active{
    max-height: fit-content;
    max-width: fit-content;
}

body {
    background-color:rgb(87, 67, 67);
}

img{
    height: 700px;
    width: 700px;
}
p {
    color:rgb(231, 247, 247)
}

.Basics {
    text-align: left 90%;
}






