.carousel-item-active{
    height: fit-content;
    width: fit-content;
}

body {

    background-image:url("img/emblem.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
}

.TITLE {
    font-size: 200%;
    text-align: center;
}

img{
    text-align: center;
    height: 500px;
    width: 700px;
}
p {
    font-size: x-large;
    font-weight: bold;
    font-family: monospace;
}
.p1{
    font-family: monospace;
}
.navbar-default .navbar-brand{
    color: #FF0000;
}

.rulespark {
    text-align: center;
}

.BT {
    font-size: 120%;
}

.funf {
    text-align: center;
}

.vid1 {
    position: absolute;
    top: 100%;
    left: 50%;
}
.wall{
    margin:20px;
    padding:10px;
}


.ruleb {
    position: absolute;
    z-index: 2; 
    width: 50%;
    left: 8%;
    top: 47%;
    height: 7em;
    opacity: 0.9;
}

.d-block w-100 {
    height: 20%;
    width: 234%;
}

.image1 {
    height: 20%;
    width: 30%;
}

.funfacts {
    position: absolute;
    z-index: 2; 
    width: 25%;
    left: 71%;
    top: 47%;
    height: 7em;
    opacity: 0.9;
}

.BoB {
    text-align: center;
    font-size: 200%;
}

.HTPB {
    position: absolute;
    z-index: 2; 
    width: 48%;
    left: 8%;
    top: 30px;
    height: 7em;
    opacity: 0.9;
}

.t1 {
    position: absolute;
    z-index: 2; 
    width:80%;
    left: 10%;
    top: 170%;
    height: 1000%;
    opacity: 0.9;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 40px 40px 4px;
}

.p2 {
    font-size:medium;
    color: black;
    font-size: 50%;
}

.npl {
    font-size: 110%;
}

.resp-container {
    position: absolute;
    top: 10%;
    left: 63%;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(151, 2, 2);
    
}

.logo {
    color: rgba(255, 255, 255, 0.781);
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 19px;
}

.nav-links {
    display: flex;
    width: 500px;
    justify-content: space-around;
}   

.nav-links li {
    list-style: none;
}

.nav-links a{
    color: rgba(240, 235, 235, 0.781);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.781);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:0px) {
    .nav-links {
       width: 60%;
    }   
}

@media screen and (max-width:3000px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(59, 50, 50);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}




.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

<<<<<<< HEAD
.container, .h2 {
    color: #36936D;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;

}

.container, .p {
    font-size: 16px;
    line-height: 24px;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto ;
}

.column {
    margin: 0 15px 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgb(0, 0, 0.12);
    background: #ffff;
    border-radius: 10px;

}






.h2 {
    color:#3696dc;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:2px;
}

	.p {
        font-size:16px;
        line-height:24px;
    }
	
	.ul, .li{
        list-style:none;
    }
	
	.container { 
        width:100%;
        margin:0 auto;
        display:flex;
        list-style:none;
    }
	
	.columns {
        margin:0 15px 25px;
        box-shadow:0 1px 3px rgb(0,0,0,12),0 1px 3px rgb(0,0,0,24);
	background:#fff;
    border-radius:10px;
    flex-basis:33%;
    }
	
	.card {padding:15px 25px};
	.img  {max-width:100%};
	
	
	@media screen and (max-width: 768px){
      .container {
        flex-direction: column;
      }
    }

=======



/* Three columns side by side */
.column {
    float: left;
    width: 20%;
    margin-bottom: 20px;
    padding: 0 8px;
    height: 23%;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

  .carousel-inner .image1 {
      width: 40%   ;
  }

  
  .button100 {
    background-color: rgb(59, 50, 50);
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    cursor: pointer;

    .btn-one {
        color: #FFF;
        transition: all 0.3s;
        position: relative;
      }
      .btn-one span {
        transition: all 0.3s;
      }
      .btn-one::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: rgba(255,255,255,0.5);
        border-bottom-color: rgba(255,255,255,0.5);
        transform: scale(0.1, 1);
      }
      .btn-one:hover span {
        letter-spacing: 2px;
      }
      .btn-one:hover::before {
        opacity: 1; 
        transform: scale(1, 1); 
      }
      .btn-one::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
        background-color: rgba(255,255,255,0.1);
      }
      .btn-one:hover::after {
        opacity: 0; 
        transform: scale(0.1, 1);
      }
      
>>>>>>> 905cd219421d2525a67410beb3986381b064216b
