h1 {
    color:rgb(231, 247, 247);
}
.carousel-item-active{
    height: 400px;
    width: 400px;
}

body {
    background-color:rgb(87, 67, 67);
}

img{
    height: 700px;
    width: 700px;
}
p {
    color:rgb(231, 247, 247)
}

.Basics {
    text-align: box-sizing: ;;
}






